body {
    background-color: palegoldenrod; 
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/* MAIN HEADING OF THE WEBSITE */
 .site-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: lightblue;
    color: black;
    margin-right: 1650px; 
    overflow: visible;
    text-align: center;
}

/* IMAGE STYLE */
#my-image {
    box-shadow: 0px 0px 2px 1px black;
    height: 200px;
    width: 200px;

    
}

/*QUOTE HEADING ALIGNMENT  */
div h3 {
    text-align: center;

}
/* QUOTE ALIGNMENT */
.quote {
    text-align: center;
    font-style: italic;

}

/* MORE HOBBIES LINK */
p a {
    color: blue;

}

p a:hover {
    color: red;
    text-decoration: dashed ;

}

h3 {
    text-decoration: underline;

}
.hobbies {
    list-style: square;
    background: scroll;

}

a:link {
    text-decoration: none;
    background-color: gray;
    border: 2px solid blue
}

.hobbies :nth-child(odd) {
    background-color: lightsteelblue;
    background-size: 5%;
}


/* SUBHEADING */
article {
    margin-bottom: 0px; 
    text-align: center;
    padding: 0 0 0 0;

}

/* COPYRIGHT STYLE */
.footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: darkblue;
    color: #ddd;
    margin-right: 1650px; 
    overflow: visible;
}

/* PARAGRAPH STYLE */
main #para1 {
   font-family: Arial, Helvetica, sans-serif;
   padding: 0px 80px 10px 30px ;
   text-align: justify;

}

/* NAVIGATION STYLE */
.topnav {
    background-color: gray;
    overflow: hidden;
    align-content: center;
    text-align: center;
    border: 5px;
    
}

.topnav a {
    float: left;
    color: lightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

